<div data-role="header">
  <h1><%= @calendar.title %></h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @events.each do |event| %>
      <li><%= event.start_time %> <%= event.title %></li>
    <% end %>
  </ul>
</div>
